.bestAll{
    font-family: Arial, Helvetica, sans-serif;
    height: 15vh;
    /* width: 100vw; */
    display: grid;
    border-bottom: 1px solid #000;
    grid-template-columns: repeat(2,1fr);
    background-color: #fff;
}
.bestAll2{
    border-left: 1px solid #000;
}
.bestAll1 p, .bestAll2 p{
    text-align: center;
    margin-top: 5vh;
    cursor: pointer;
}
.bestAll1 p:hover, .bestAll2 p:hover{
    text-decoration: underline;
}
