.content-nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 7vh;
    /* width: 100vw; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
.content-nav-2 span{
    margin-left: 25px;
}
.content-nav-2 span i{
    margin-right: 10px;
}
.content-nav-2 span input{
    width: 85%;
    height: 95%;
    padding: 0;
    margin:0;
    display: inline-block;
    border: none;
}
.content-nav-2 span input:focus{
    outline: none;

}
.content-nav-3{
    border-left: 1px solid black;
}
.content-nav-3 span{
    margin-top: 1vh;
    display: inline-block;
    margin-left: 90%;
    border-right: 1px solid black;
}
.content-nav-3 i{
    margin-right: 5px;
}

@media screen and (max-width:1000px){
    .content-nav-3 span{
        margin-left: 88%;
    }
    .content-nav-2 span input{
        width: 86%
    }
}
@media screen and (max-width:900px){
    .content-nav-3 span{
        margin-left: 85%;
    }
}
@media screen and (max-width:800px){
    .content-nav-2 span input{
        width: 78%;
    }
    .content-nav-3 span{
        margin-left: 80%;
    }
}
@media screen and (max-width:500px){
    .content-nav-2 span input{
        width: 70%;
    }
    .content-nav-3 span{
        margin-left: 73%;
    }
}
@media screen and (max-height:600px){
    .content-nav{
        height: 8vh;
    }
    .content-nav-3 span{
        margin-top: 1.1vh;
    }
}
@media screen and (max-height:400px){
    .content-nav{
        height: 11vh;
    }
}
@media screen and (max-height:350px){
    .content-nav{
        height: 12vh;
    }
}
@media screen and (max-height:300px){
    .content-nav{
        height: 15vh;
    }
}
@media screen and (max-height:250px){
    .content-nav{
        height: 17vh;
    }
}