*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.main{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background: url(https://images.pexels.com/photos/40140/achievement-bar-business-chart-40140.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
    background-size: cover;
}


#bungkus{
    position: absolute;
    top: 43vh;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.7)
}

.tempat-form{
    width: 100%;
    max-width: 40rem;
    background-color: #fff;
    position: relative;
    padding: 10rem 0;
    box-shadow: 0 1px 1.5rem rgba(0,0,0,.1);
    border-radius: 1rem;
    z-index : 1;
    -webkit-box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.75);
}

.tempat-form:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    background: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    z-index: -1
}

.form-title{
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    top: 3.5rem;
    left: 10rem;
}

form{
    transform: translateX(10rem);
    background-color: #fff;
    padding: 2rem 0;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.75);
}

.inputan{
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: baseline;
}

.inputan input{
    position: relative;
    width: 80%;
    padding: 1rem 0;
    margin-top: .5rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: #5f0a87;
}

.inputan > i{
    font-size: 2rem;
    margin-right: 1rem;
    color: #5f0a87;
}

.inputan .bar{
    position: absolute;
    left: 0;
    bottom: 0; 
    background-color: rgba(0,0,0,.1);
    width: 100%;
    height: 1px;
}

.inputan .bar::before{
    content: '';
    position: absolute;
    background-color: #5f0a87;
    width: 0;
    height: 2px;
    transition: width 650ms;
}

.inputan input:focus + .bar::before{
    width: 100%
}

.inputan button{
    margin: 3rem auto;
    padding: 1rem 5rem;
    background: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    border: none;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 3rem;
}

.inputan button:focus,
.inputan button:hover{
    background : linear-gradient(326deg, #5f0a87  0%, #a4508b 74%)
}

.switch-login{
    text-align: center;
}

.switch-login p{
    color: #a1a1a1;
    font-size: 1.5rem;
}

.switch-login span{
    color: #5f0a87;
}

.switch-login span:hover{
    padding-bottom: 2px;
    border-bottom: 2px solid #5f0a87;
}


@media screen and (max-width: 700px){
    .tempat-form::before{
        height: 10rem;
    }

    .form-title{
        left: 50%;
        transform: translateX(-50%)
    }

    form{
        border-radius: initial;
        transform: initial;
        box-shadow: none;
    }
}